@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

@import './components/header';

//firstscreen
.firstscreen {
  height: 850px;
  width: 100vw;
  background: $color-bg-salat;
  &-container {
    padding: 90px 15px 50px 15px;
  }
}
.firstscreen-info {
  text-align: center;
  margin-bottom: 20px;
  &__heading {
    @extend %title-font;
    &-head {
      margin-bottom: 20px;
      color: $color-title;
    }
  }
  &-text {
    max-width: 640px;
    margin: 0 auto;
  }
}
.order-btn {
  text-align: center;
  display: block;
}
.order-btn__link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.order-btn-tx {
  @extend %title-second;
  margin-right: 20px;
}
.order-btn__btn {
  width: 64px;

  height: 64px;
  padding: 32px 16px;
  background: $color-veg;
  border: 1px solid $color-veg;
  border-radius: 50%;
  transition: all 0.6s;
  &:hover {
    background: #08915f;
  }
  &:active {
    background: #0bce87;
  }
  &__img {
    margin-top: -7px;
  }
}
.firstscreen-about {
  display: flex;
  justify-content: space-between;
  .firstscreen-media {
    content: '';
    background: url('../../assets/images/vegetables-fruits-PhotoRoom.png-PhotoRoom.png');
    background-size: cover;
    background-blend-mode: darken;

    background-position: center;
    background-size: cover;
    background-blend-mode: darken;

    background-position: center;
    width: 860px;
    height: 465px;
  }
}

.firstscreen-counter {
  display: grid;
  grid-template-columns: 250px;
  grid-template-rows: repeat(3, 115px);
  gap: 30px;
  margin-top: 20px;
}
.counter-part {
  background: #ffffff;
  padding: 17px 33px;
}
.counter-part {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.counter-part-media {
  width: 56px;
  height: 56px;
  margin-right: 25px;
}
.counter-part-counter {
  text-align: center;
  width: 95px;
}
.counter,
.counter-ed {
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #000000;
}
/* bestservise */

.bestservise-container {
  padding: 140px 15px;
}

.bestservise-info {
  text-align: start;
  margin-bottom: 20px;
  &__heading {
    @extend %title-font;
    &-head {
      margin-bottom: 20px;
      color: $color-title;
    }
  }
  &-text {
    max-width: 640px;
    margin: 0;
  }
}
.bestservise-counter {
  display: grid;
  grid-template-columns: 500px;
  grid-template-rows: repeat(3, 115px);
  gap: 30px;
  margin-top: 20px;
}
.bestservise-part {
  background: #ffffff;
  padding: 40px 60px;
}
.bestservise__inner {
  display: flex;
  justify-content: space-between;
}
.bestservise-list {
  margin-bottom: 50px;
}
.bestservise-part {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.bs-part {
  background: $color-bg-salat;
}
.bestservise-icons {
  margin-right: 25px;
}

.bestservise-about {
  // max-width: 280px;
}
.bestservise-about-heading {
  margin-bottom: 10px;

  .bestservise-about-head {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #222222;
  }
}

.bestservise-about-text {
  font-size: 14px;
  line-height: 20px;
  max-width: 280px;
}
.bestservise-media {
  width: 600px;
  height: 600px;

  .bestservise-media__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.bestservise-arrow__link {
  cursor: pointer;
}
.bestservise-arrow img {
  margin: 0 auto;
  padding: 5px;
}

/* section explor */

.explor {
  height: 830px;
  width: 100vw;
  background: $color-bg-salat;
  &-container {
    padding: 90px 15px 143px 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.explor-media {
  flex: none;
  width: 600px;
  height: 600px;
  margin-right: 50px;
}
.explor-media__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.explor-info {
  text-align: start;
  margin-top: 50px;
  &__heading {
    @extend %title-font;
    &-head {
      margin-bottom: 20px;
      color: $color-title;
    }
  }
  &-text {
    max-width: 575px;
    margin-bottom: 50px;
  }
}

.explor-btn {
  text-align: start;
  display: block;
}
.explor-btn__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.explor-btn-tx {
  @extend %title-second;
  margin-right: 20px;
}
.explor-btn__btn {
  width: 64px;
  height: 64px;
  padding: 32px 16px;
  background: $color-veg;
  border: 1px solid $color-veg;
  border-radius: 50%;
  transition: all 0.6s;
  &:hover {
    background: #08915f;
  }
  &:active {
    background: #0bce87;
  }
  &__img {
    margin-top: -7px;
  }
}
/* customers */
.customers {
  &-container {
    // height: 540px;
    padding: 90px 15px 143px 15px;
    position: relative;
  }
}
.customers-info {
  position: absolute;
  text-align: start;
  max-width: 650px;
  z-index: 2050;
  &__heading {
    @extend %title-font;
    &-head {
      margin-bottom: 30px;
      color: $color-title;
      max-width: 640px;
    }
  }
  &-text {
    max-width: 585px;
    margin-bottom: 40px;
  }
}
.slick-initialized .slick-slide {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.slider-about__head {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin-bottom: 20px;
}

.slider-media {
  width: 500px;
  height: 500px;
  background: url('../../assets/images/customers.jpg');
  background-size: cover;
  display: flex;
  align-items: flex-end;
}
.slider-media-group {
  width: 220px;
  height: 80px;
  background: #ffffff;
  padding: 12px 35px 12px 21px;
  box-shadow: -15px 15px 25px rgba(0, 96, 60, 0.04);
  border-radius: 12px;
  margin-bottom: 16px;
}
.slider-media-group .rating {
  margin-bottom: 10px;
}
.slider-media-group__img {
  height: auto;
}
.content-arrows {
  position: absolute;
  display: flex;
  left: 360px;
  bottom: 134px;
  .slick-arrow {
    display: block;
    border: 1px solid inherit;
    border-radius: 50%;
    padding: 12px;
    margin-right: 10px;
    background: $color-veg;
    width: 56px;
    height: 56px;
    transition: all 0.7;
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }
    &:first-child {
      background: none;
      border: 1px solid #cccccc;
    }
  }
}
/* rating stars */
.rating {
  display: flex;
  align-items: flex-end;
  font-size: 23.15px;
  line-height: 0.75;
}
.rating__body {
  position: relative;
}
.rating__body::before {
  content: '☆☆☆☆☆';
  display: block;
  color: #f1b90b;
}
.rating__active {
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.rating__active::before {
  content: '★★★★★';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #f1b90b;
}
.rating__items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.rating__item {
  flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}
.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0 0 0 10px;
  opacity: 0;
}

/* 
 */

/* download */

.download {
  &-container {
    padding: 90px 15px 143px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.download-media {
  flex: none;
  width: 265px;
  height: 500px;
  margin-right: 110px;
}
.download-media__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.download-info__btn {
  padding: 11px 25px;
  background: #f3fbf8;
  border-radius: 50px;
  line-height: 18px;
  color: #333333;
  margin-bottom: 10px;
}

.download-info {
  text-align: start;
  &__heading {
    @extend %title-font;
    &-head {
      margin-bottom: 20px;
      color: $color-title;
      max-width: 660px;
    }
  }
  &-text {
    max-width: 575px;
    margin-bottom: 25px;
  }
}
.download-info-icons {
  display: flex;
  align-items: center;
  &__link {
    padding: 0 5px;
  }
  &__part {
    margin-right: 25px;
  }
}

@import './components/footer';
